:root{
    margin:0;
    padding:0;
    --main-font-family: sans-serif; 
    --primary-color: #fff;
}

.container__block{
    display: flex;
    padding: 5px;
    background-color: brown;
}

.block__item{
    background-color: purple;
    color: var(--primary-color);
    font-family: var(--main-font-family);
}

.block__graphic{
    filter: drop-shadow(5px 5px 5px #fff);
}